* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Futura";
  color: #00184f;
}

@font-face {
  font-family: "Hero IC Condensed Black";
  src: url("../fonts/heroiccondensed-black-webfont.ttf");
}
@font-face {
  font-family: "Hero IC Condensed Bold";
  src: url("../fonts/heroiccondensed-bold-webfont.ttf");
}
@font-face {
  font-family: "Hero IC Condensed Heavy";
  src: url("../fonts/heroiccondensed-heavy-webfont.ttf");
}
@font-face {
  font-family: "Hero IC Condensed Medium";
  src: url("../fonts/heroiccondensed-medium-webfont.ttf");
}
@font-face {
  font-family: "Old Standard TT";
  src: url("../fonts/OldStandardTT-Italic.ttf");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura\ Book.ttf");
}
